@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
a{
  
  color: #202020;
}

.button {
  background-color: #070707;
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.2s;

}

/* starting of top nav  */

.top_nav {
  display: flex;
  height: 90px;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;

}

.nav_right {
  font-size: 40px;
  font-weight: 800;
}

.res_button {
  background-color: white;
  color: black;
  border: 2px solid rgb(13, 19, 33);;
  border-radius: 10px;
  font-size: 16px;

}

.res_button:hover {
  background-color: rgba(169, 155, 250, 0.884);
  color: bLACK;
}

/* End of top nav  */


/* Starting of hero section  */
.hero_section {
  width: 1440px 100%;
  height: 780px;
  background-image: url(assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero_items{
  width: 1300px;
height: 650px;
background-color: transparent;
margin:auto;
}
.hero_items img {
  width: 240.28px;
height: 240px;
  margin: 25px auto;
  display: block;
}

.hero_items h1{
  font-size: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.hero_items p{
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  font-weight: 450;

}
.hero_items p blockquote{
  font-weight: 400;
  color: rgb(13, 19, 33);

}
.contact_button{
  background: rgb(13, 19, 33);
  border-radius: 8px;
  

}
.c_btn{
  text-align: center;
}
.contact_button:hover {
  background-color: transparent;
  color: Black;
  border: 2px solid black;
  border-radius: 8px;
}
/* Ending of hero section  */

/* Starting of 2nd section  */

.second_section{
  width: 1140px;
height: 1395px;
margin: 150px auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);

}
.heading h1{
  margin-top: 5rem;
  font-size: 32px;
  font-weight: 800;
  font-family: "Azeret Mono";
  text-align: center;
  
}

.heading p{
  margin: 40px auto;
 padding:0px 40px;
 text-align: center;
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}

.first_frame{
  width: 80%;
  height: 336px;
  display: flex;
  padding: 36px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #ffffff, #fafafb);
  margin-bottom: 4rem;

}
.second_frame{
  
  width: 80%;
  height: 336px;
  display: flex;
  padding: 36px;
  border-radius: 8px;
  background-image: linear-gradient(to right,  #fafafb, #ffffff);
  margin-bottom: 4rem;

}
.ratio3{
  width:60%;

}
.ratio3 h4{
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  margin-top: 2rem;
}
.ratio3 p{
  color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 14px;
font-weight: 380;
line-height: 24px;
letter-spacing: 0%;
margin-top: .89rem;
}

.ratio3 .frame_button{
  color: black;
  border: 1.8px solid black;
  background: rgba(13, 19, 33, 0);
  border-radius: 8px;
  font-size: 14px;

}
.ratio3 .frame_button:hover{
  background-color: rgba(169, 155, 250, 0.884);
  color: Black;
  border: 1.8px solid black;
  border-radius: 8px;
}

.ratio1
{
  width:40%;
  text-align: center;

}
.ratio1 img{
  width: 259.56px;
height: 217.01px;
}

/* End of second section  */

/* Starting of inspiration section  */
.inspiration{
  width: 1140px;
height: 830px;  
margin: auto;
position: relative;
}
.inspiration_text{
  text-align: center;
  margin: auto;
}
.inspiration_text h1{
  margin : 3rem auto;
  font-size: 33px;
  font-weight: 800;
}
.inspiration_text p{
  margin: 0 auto 4rem auto;
  width: 80%;
  color: rgb(13, 19, 33);
}

.video_player{
  width: 1076px;
  height: 550px;
  margin: auto;
  position: relative;
}
.video_player .iframe {
  width: 100%;
  height: 98%;
  position: absolute;
  padding:10px;
  border: .8px solid  rgb(117, 116, 116) ;
  border-radius: 8px;
  margin: auto;
}
/* Ending of inspiration section  */


/* Starting of inspiration section  */
.target{
  width: 1140px;
height: 830px;  
margin: auto;
position: relative;
}
.target_text{
  text-align: center;
  margin: auto;
}
.target_text h1{
  margin : 3rem auto;
  font-size: 33px;
  font-weight: 800;
}
.target-text p{
  margin: 0 auto 4rem auto;
  width: 80%;
  color: rgb(13, 19, 33);
}
.skill_cards{
  display: flex;
  width: 1140px;
height: 432px;
margin-top: 4rem;
align-content: space-around;

}

.card{
  width: 30%;
  height: 75%;
  border-radius: 12px;
  margin: auto;
  padding: 1.2rem;
  
}
.color_1{
  background: rgba(255, 76, 30, 0.05);
}
.color_2{
  background: rgba(0, 76, 232, 0.05);
}
.color_3{
  background: rgba(255, 223, 0, 0.05);
}
.card_text{
  margin-top: 1.6rem;
}

.card_text h1{
  font-size: 26px;
  margin-bottom: 1.6rem;
}
.card_text p{
  font-size: 16px;
  margin-bottom: 1.3rem;
}